{% extends 'main.html' %}

{% block content %}

<main class="user-agreement">
    {% if user_type == 'Freelance' %}
    <div class="content-box">
        <h3>Freelance Bazar User Agreement (For Freelancers)</h3>
        <p>This Freelance Platform User Agreement (the "Agreement") is entered into by and between the freelancer user ("Freelancer" or "you") and Freelance Bazar ("Platform," "we," "us," or "our"). By accessing and using our freelance platform, you agree to be bound by the terms and conditions outlined in this Agreement.</p>

        <h2>1. Account Registration and Responsibilities:</h2>
        <ul>
            <li>Freelancers must create an account to access the platform.</li>
            <li>You are responsible for maintaining the confidentiality of your account credentials.</li>
            <li>Provide accurate and up-to-date information in your profile.</li>
            <li>All freelancers are responsible and accountable for the information they upload as profile information or project/task details.</li>
            <li>All freelancers need to be verified by the administrators of the site to be able to access all features of the platform.</li>
        </ul>

        <h4>2. User Types:</h4>
        <ul>
            <li>Freelancers: Users capable of uploading project portfolios and posting tasks.</li>
            <ul>
                <li>Freelancers must be registered as self-employed citizens on my.gov.uz.</li>
                <li>Freelancer accounts are exclusive to students or staff of Westminster International University in Tashkent.</li>
            </ul>
            <li>Clients: Users who can only post tasks.</li>
        </ul>

        <h4>3. Task Posting and Assignment:</h4>
        <ul>
            <li>Freelancers can view posted tasks, express interest, and the task owner can choose and assign the task.</li>
            <li>Communication regarding tasks should initially occur on the platform's messaging system for documentation.</li>
        </ul>

        <h4>4. Communication:</h4>
        <ul>
            <li>Important communication regarding tasks must occur within the platform for record-keeping.</li>
            <li>External communication through other messengers is allowed but may not serve as proof of work.</li>
        </ul>

        <h4>5. Task Assignment Contract:</h4>
        <ul>
            <li>When a task is assigned by a task-poster to a freelancer, a binding contract between the two parties will be generated.</li>
            <li>By assigning the task, the task-poster, and by accepting the task, the freelancer agrees to the terms of the contract.</li>
        </ul>

        <h4>6. Payment and Settlement:</h4>
        <ul>
            <li>No payment processing is facilitated within the platform.</li>
            <li>Freelancer and client are responsible for settling payments and other matters independently after task completion.</li>
        </ul>

        <h4>7. User Profiles:</h4>
        <ul>
            <li>Both freelancers and clients have profiles displaying contact details.</li>
            <li>Keep contact information accurate and up-to-date.</li>
            <li>Users are responsible and accountable for the information they upload as profile information or project/task details.</li>
        </ul>

        <h4>8. Code of Conduct:</h4>
        <ul>
            <li>Users must adhere to ethical business practices.</li>
            <li>Respectful and professional communication is expected.</li>
        </ul>

        <h4>9. Content Ownership:</h4>
        <ul>
            <li>Users retain ownership of the content they upload.</li>
            <li>Platform reserves the right to use non-personal, aggregated data for analytical purposes.</li>
        </ul>

        <h4>10. Termination:</h4>
        <ul>
            <li>The platform reserves the right to terminate or suspend accounts violating the terms of this Agreement.</li>
        </ul>

        <h4>11. Amendments:</h4>
        <ul>
            <li>The platform may update this Agreement. Users will be notified of significant changes.</li>
        </ul>

        <h4>12. Governing Law:</h4>
        <ul>
            <li>This Agreement is governed by and construed in accordance with the laws of the Republic of Uzbekistan.</li>
        </ul>

        <h4>13. Prohibited Content:</h4>
        <ul>
            <li>Users acknowledge that it is strictly prohibited to share content on the platform that involves or promotes pornography, violence, hate speech, discrimination, illegal activities, politically biased content, or any material that violates the laws and regulations of the Republic of Uzbekistan or any relevant jurisdiction.</li>
            <li>The platform reserves the right to remove, block, or take any necessary action against users who violate this provision, and such violations may result in the termination of the user's account.</li>
            <li>Users are solely responsible for the content they upload, and the platform disclaims any liability for the nature or consequences of shared content.</li>
        </ul>

        <h4>14. Contact:</h4>
        <ul>
            <li>For inquiries or concerns, contact [Platform Support Email].</li>
        </ul>

        <p>By using the platform, you acknowledge that you have read, understood, and agree to abide by this Freelancer Agreement. If you do not agree with any part of these terms, please refrain from using the platform.</p>
    </div>
    {% else%}
    <div class="content-box">
        <h3>Freelance Bazar User Agreement (For Clients)</h3>
        <p>This Freelance Platform User Agreement (the "Agreement") is entered into by and between the client user ("Client" or "you") and Freelance Bazar ("Platform," "we," "us," or "our"). By accessing and using our freelance platform, you agree to be bound by the terms and conditions outlined in this Agreement.</p>

        <h4>1. Account Registration and Responsibilities:</h4>
        <ul>
            <li>Clients must create an account to access the platform.</li>
            <li>You are responsible for maintaining the confidentiality of your account credentials.</li>
            <li>Provide accurate and up-to-date information in your profile.</li>
            <li>All clients are responsible and accountable for the information they upload as profile information or project/task details.</li>
            <li>All clients need to be verified by the administrators of the site to be able to access all features of the platform.</li>
        </ul>

        <h4>2. User Types:</h4>
        <ul>
            <li>Freelancers: Users capable of uploading project portfolios and posting tasks.</li>
            <ul>
                <li>Freelancers must be registered as self-employed citizens on my.gov.uz.</li>
                <li>Freelancer accounts are exclusive to students or staff of Westminster International University in Tashkent.</li>
            </ul>
            <li>Clients: Users who can only post tasks and cannot upload projects.</li>
        </ul>

        <h4>3. Task Posting and Assignment:</h4>
        <ul>
            <li>Clients can post tasks, and freelancers can express interest. The task owner can choose and assign the task.</li>
            <li>Communication regarding tasks should initially occur on the platform's messaging system for documentation.</li>
        </ul>

        <h4>4. Communication:</h4>
        <ul>
            <li>Important communication regarding tasks must occur within the platform for record-keeping.</li>
            <li>External communication through other messengers is allowed but may not serve as proof of work.</li>
        </ul>

        <h4>5. Task Assignment Contract:</h4>
        <ul>
            <li>By assigning a task, the task-poster, and by accepting the task, the freelancer agree to the terms of the contract generated between them.</li>
            <li>This contract is legally binding upon task assignment.</li>
        </ul>

        <h4>6. Payment and Settlement:</h4>
        <ul>
            <li>No payment processing is facilitated within the platform.</li>
            <li>Freelancer and client are responsible for settling payments and other matters independently after task completion.</li>
        </ul>

        <h4>7. User Profiles:</h4>
        <ul>
            <li>Both freelancers and clients have profiles displaying contact details.</li>
            <li>Keep contact information accurate and up-to-date.</li>
            <li>Users are responsible and accountable for the information they upload as profile information or project/task details.</li>
        </ul>

        <h4>8. Code of Conduct:</h4>
        <ul>
            <li>Users must adhere to ethical business practices.</li>
            <li>Respectful and professional communication is expected.</li>
        </ul>

        <h4>9. Content Ownership:</h4>
        <ul>
            <li>Users retain ownership of the content they upload.</li>
            <li>Platform reserves the right to use non-personal, aggregated data for analytical purposes.</li>
        </ul>

        <h4>10. Termination:</h4>
        <ul>
            <li>The platform reserves the right to terminate or suspend accounts violating the terms of this Agreement.</li>
        </ul>

        <h4>11. Amendments:</h4>
        <ul>
            <li>The platform may update this Agreement. Users will be notified of significant changes.</li>
        </ul>

        <h4>12. Governing Law:</h4>
        <ul>
            <li>This Agreement is governed by and construed in accordance with the laws of the Republic of Uzbekistan.</li>
        </ul>

        <h4>13. Prohibited Content:</h4>
        <ul>
            <li>Users acknowledge that it is strictly prohibited to share content on the platform that involves or promotes pornography, violence, hate speech, discrimination, illegal activities, politically biased content, or any material that violates the laws and regulations of the Republic of Uzbekistan or any relevant jurisdiction.</li>
            <li>The platform reserves the right to remove, block, or take any necessary action against users who violate this provision, and such violations may result in the termination of the user's account.</li>
            <li>Users are solely responsible for the content they upload, and the platform disclaims any liability for the nature or consequences of shared content.</li>
        </ul>

        <h4>14. Contact:</h4>
        <ul>
            <li>For inquiries or concerns, contact [Platform Support Email].</li>
        </ul>

        <p>By using the platform, you acknowledge that you have read, understood, and agree to abide by this Client Agreement. If you do not agree with any part of these terms, please refrain from using the platform.</p>

        <p>Freelance Bazar</p>
        <p>[Address]</p>
    </div>
    {% endif %}
</main>
{% comment %} <script>
    // Open the current page in a new tab
    window.open(window.location.href, '_blank');
</script> {% endcomment %}
{% endblock content %}
