{% extends 'main.html' %}

{% block content %}

<main class="user-agreement">
    <div class="content-box">
        <h1>Yollanma.uz Foydalanuvchi Shartnomasi (Mijozlar Uchun)</h1>
        <p>Ushbu Yollanma Platformasi Foydalanuvchi Shartnomasi ("Shartnoma") mijoz foydalanuvchisi ("Mijoz" yoki "siz") va Yollanma.uz ("Platforma", "biz", "biz" yoki "bizning") o'rtasida imzolangan. Bizning frilans platformasiga kirish va unga foydalanish bilan, siz ushbu Shartnomadagi shartlar va sharoitlarga rioya etishingizga rozilik bildirasiz.</p>

        <h2>1. Hisobga ro'yxatdan o'tish va Mas'uliyatlar:</h2>
        <ul>
            <li>Mijozlar platformaga kirish uchun hisob yaratishi shart.</li>
            <li>Siz o'zingizning hisob ma'lumotlaringizni maxfiylikni saqlashdan mas'ul hisoblasangiz.</li>
            <li>Profilingizda to'g'ri va yangilangan ma'lumotlarni berishingiz lozim.</li>
            <li>Barcha mijozlar o'zining profil ma'lumotlari yoki loyihalar vazifalari tarkibiga yuklab tashlagan ma'lumotlar uchun javobgar va mas'ul hisoblanadi.</li>
            <li>Barcha mijozlar sayt administratorlari tomonidan tekshirilishi kerak, shuningdek, platformaning barcha xususiyatlari erishish uchun.</li>
        </ul>

        <h2>2. Foydalanuvchi Turlari:</h2>
        <ul>
            <li>Frilanslar: Loiyha portfeyllarini yuklab tashlash va vazifalarni chop etishga qodir foydalanuvchilar.</li>
            <ul>
                <li>Frilanslar o'zlarini my.gov.uzda ro'yxatdan o'tkazgan mustaqil fuqarolar sifatida ro'yxatdan o'tkazishi kerak.</li>
                <li>Frilans hisoblari faqat Westminster Xalqaro Toshkent Universiteti talabalariga yoki xodimlariga xos.</li>
            </ul>
            <li>Mijozlar: Faqat vazifalarni chop etishi mumkin bo'lgan foydalanuvchilar.</li>
        </ul>

        <h2>3. Vazifalarni Chop Etish va Bajarish:</h2>
        <ul>
            <li>Mijozlar vazifalarni chop etishlari mumkin, va frilanslar qiziqish bildirishlari mumkin. Vazifa egasi vazifani tanlayishi va bajarishi mumkin.</li>
            <li>Vazifalar haqida muloqotlar asosan platformaning hujjatlash tizimida bo'lishi lozim.</li>
        </ul>

        <h2>4. Muloqot:</h2>
        <ul>
            <li>Vazifalar haqida muhim muloqotlar hujjatlash maqsadida avval platformada bo'lishi kerak.</li>
            <li>Tashqi muloqotlar qo'llanmalar orqali amalga oshirilishi mumkin, lekin ish haqidagi guvohnoma sifatida xizmat qilmaydi.</li>
        </ul>

        <h2>5. Vazifa Egasi Kontrakti:</h2>
        <ul>
            <li>Vazifani taqdim etish bilan vazifa egasi, va vazifani qabul qilish bilan frilans shartnomada qabul qiladi, ular orasida generatsiyalangan shartlariga rozi bo'lishadi.</li>
            <li>Ushbu shartnoma vazifani belgilash bilan qonun hujjatlarda amal qiladi.</li>
        </ul>

        <h2>6. To'lov va Hisob-kitob:</h2>
        <ul>
            <li>Hech qanday to'lov jarayoni platformada tashkil etilmaydi.</li>
            <li>Frilans va mijozlar vazifani bajarilganidan so'ng to'lovlar va boshqa masalalar o'zaro mustaqil ravishda bajariladi.</li>
        </ul>

        <h2>7. Foydalanuvchi Profillari:</h2>
        <ul>
            <li>Frilanslar va mijozlar kontaktdagi ma'lumotlarini ko'rsatadigan profilga ega.</li>
            <li>Kontakt ma'lumotlarni to'g'ri va yangilangan shaklda saqlang.</li>
            <li>Foydalanuvchilar profil ma'lumotlari yoki loyihalar vazifalari tarkibiga yuklab tashlagan ma'lumotlar uchun javobgar va mas'ul hisoblanadi.</li>
        </ul>

        <h2>8. Munosabatlar Kodeksi:</h2>
        <ul>
            <li>Foydalanuvchilar etik biznes amallariga rioya etishlari kerak.</li>
            <li>Hormatli va professional muloqot kutilmoqda.</li>
        </ul>

        <h2>9. Kontent Egasiyati:</h2>
        <ul>
            <li>Foydalanuvchilar yuklab tashlagan kontentni egasiyati saqlanadi.</li>
            <li>Platforma non-personal, jamlangan ma'lumotlarni tahlil maqsadlari uchun ishlatish huquqini saqlaydi.</li>
        </ul>

        <h2>10. To'xtatish:</h2>
        <ul>
            <li>Platforma ushbu Shartnoma shartlarini buzadigan hisoblarni to'xtatish yoki to'xtatish huquqini saqlaydi.</li>
        </ul>

        <h2>11. O'zgartirishlar:</h2>
        <ul>
            <li>Platforma ushbu Shartnomani yangilay oladi. Foydalanuvchilar muhim o'zgarishlar haqida xabardor qilinadi.</li>
        </ul>

        <h2>12. Hukumat Qonuni:</h2>
        <ul>
            <li>Ushbu Shartnoma O'zbekiston Respublikasining qonunlariga muvofiq qayd etilgan va shariyat etilgan.</li>
        </ul>

        <h2>13. Taqiqlangan Kontent:</h2>
        <ul>
            <li>Foydalanuvchilar platformada pornografiya, ziyonat, yovuzlik tilovati, diskriminatsiya, qonunlarga zid voqea, siyosiy tarafkorblik tarkibida yoki O'zbekiston Respublikasi yoki ilg'or yurisdiktsiyalarning qonun va tartiblariga zararli har qanday materialni ulashish yoki tarqatish aniqlanganligi aniqlanganligi taqiqlanadi.</li>
            <li>Platforma, bu shartni buzadigan foydalanuvchilarga qarshi qaror olish, bloklay olish yoki zarurat bo'lgan har qanday harakatni olish huquqini saqlaydi, va bunday taqiqlanishlar foydalanuvchi hisobining to'xtashiga olib kelishi mumkin.</li>
            <li>Foydalanuvchilar yuklab tashlagan kontent uchun to'liq javobgar, va platforma ulanilgan kontentning xususiyat yoki natijalari uchun javobgarlikni inkor etadi.</li>
        </ul>

        <h2>14. Aloqa:</h2>
        <ul>
            <li>Savollaringiz yoki muammoatlaringiz uchun [Platforma Qo'llab-quvvatlash Elektron Pochta] bilan bog'laning.</li>
        </ul>

        <p>Platformani ishlatganingizda, siz ushbu Mijoz Shartnomasini o'qigan, tushunib chiqqan, va uni qabul qilishga rozilik bildirganingizni tasdiqlaysiz. Agar siz bu shartning istalgan qismiga rozilik bildirmasangiz, platformani ishlatishdan mustaqil qilishingizni so'raymiz.</p>

        <p>Yollanma.uz</p>
        <p>[Manzil]</p>
    </div>

