{% extends 'main.html' %}

{% block content %}

<main class="user-agreement">
    {% if user_type == 'Freelance' %}
    {% if is_freelancer %}
    <div class="content-box">
        <h3>Yollanma.uz Foydalanuvchi Shartnomasi (Frilanslar Uchun)</h3>
        <p>Ushbu Frilans Platformasi Foydalanuvchi Shartnomasi ("Shartnoma") frilans foydalanuvchilari ("Frilans" yoki "siz") va Yollanma.uz ("Platforma," "biz," "biz" yoki "bizning") o'rtasida imzolangan. Bizning frilans platformasiga kirish va unga foydalanish bilan, siz ushbu Shartnomadagi shartlar va sharoitlarga rioya etishingizga rozilik bildirasiz.</p>

        <h2>1. Hisobga ro'yxatdan o'tish va Mas'uliyatlar:</h2>
        <ul>
            <li>Frilanslar platformaga kirish uchun hisob yaratishi shart.</li>
            <li>Siz o'zingizning hisob ma'lumotlaringizni maxfiylikni saqlashdan mas'ul hisoblasangiz.</li>
            <li>Profilingizda to'g'ri va yangilangan ma'lumotlarni berishingiz lozim.</li>
            <li>Barcha frilanslar o'zlarini profil ma'lumotlari yoki loyihalar vazifalari tarkibiga yuklab tashlagan ma'lumotlar uchun javobgar va mas'ul hisoblanadi.</li>
            <li>Barcha frilanslar platforma barcha xususiyatlarga erishish uchun sayt administratorlari tomonidan tasdiqlanishi kerak.</li>
        </ul>

        <h4>2. Foydalanuvchi Turlari:</h4>
        <ul>
            <li>Frilanslar: Loiyha portfeyllarini yuklab tashlash va vazifalarni chop etishga qodir foydalanuvchilar.</li>
            <ul>
                <li>Frilanslar o'zlarini my.gov.uzda ro'yxatdan o'tkazgan mustaqil fuqarolar sifatida ro'yxatdan o'tkazishi kerak.</li>
                <li>Frilans hisoblari faqat Westminster Xalqaro Toshkent Universiteti talabalariga yoki xodimlariga xos.</li>
            </ul>
            <li>Mijozlar: Faqat vazifalarni chop etishi mumkin bo'lgan foydalanuvchilar.</li>
        </ul>

        <h4>3. Vazifa Chop Etish va Bajarish:</h4>
        <ul>
            <li>Frilanslar chop etilgan vazifalarni ko'ra olish, qiziqish bildirish va vazifani egasi tanlayishi mumkin.</li>
            <li>Vazifalar haqida muloqotlar asosan platformaning hujjatlash tizimida bo'lishi lozim.</li>
        </ul>

        <h4>4. Muloqot:</h4>
        <ul>
            <li>Vazifalar haqida muhim muloqotlar hujjatlash maqsadida avval platformada bo'lishi kerak.</li>
            <li>Tashqi muloqotlar qo'llanmalar orqali amalga oshirilishi mumkin, lekin ish haqidagi guvohnoma sifatida xizmat qilmaydi.</li>
        </ul>

        <h4>5. Vazifa Egasi Kontrakti:</h4>
        <ul>
            <li>Vazifa egasi tomonidan vazifa frilansiga vazifa tayinlanishi bilan ular orasida qo'llanma shartnomasi generatsiyalangan bo'ladi.</li>
            <li>Vazifani tayinlab yuborish bilan, vazifa egasi va vazifa qabul qilish bilan frilans shartlarga rozi bo'lishadi.</li>
        </ul>

        <h4>6. To'lov va Hisob-kitob:</h4>
        <ul>
            <li>Platformada hech qanday to'lov jarayoni amalga oshirilmaydi.</li>
            <li>Frilans va mijozlar vazifani bajarilganidan so'ng to'lovlar va boshqa masalalar o'zaro mustaqil ravishda bajariladi.</li>
        </ul>

        <h4>7. Foydalanuvchi Profillari:</h4>
        <ul>
            <li>Frilanslar va mijozlar kontakt ma'lumotlari ko'rsatadigan profilga ega.</li>
            <li>Kontakt ma'lumotlarni to'g'ri va yangilangan shaklda saqlang.</li>
            <li>Foydalanuvchilar profil ma'lumotlari yoki loyihalar vazifalari tarkibiga yuklab tashlagan ma'lumotlar uchun javobgar va mas'ul hisoblanadi.</li>
        </ul>

        <h4>8. Munosabatlar Kodeksi:</h4>
        <ul>
            <li>Foydalanuvchilar etik biznes amallariga rioya etishlari kerak.</li>
            <li>Hormatli va professional muloqot kutilmoqda.</li>
        </ul>

        <h4>9. Kontent Egasiyati:</h4>
        <ul>
            <li>Foydalanuvchilar yuklab tashlagan kontentni egasiyati saqlanadi.</li>
            <li>Platforma non-personal, jamlangan ma'lumotlarni tahlil maqsadlari uchun ishlatish huquqini saqlaydi.</li>
        </ul>

        <h4>10. To'xtatish:</h4>
        <ul>
            <li>Platforma ushbu Shartnoma shartlarini buzadigan hisoblarni to'xtatish yoki to'xtatish huquqini saqlaydi.</li>

    </div>
    {% endif %}
</main>
{% comment %} <script>
    // Open the current page in a new tab
    window.open(window.location.href, '_blank');
</script> {% endcomment %}
{% endblock content %}
