
{% extends 'main.html' %}
{% load static%}
{% block content%}




<!-- Main Section -->
  <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Loyihalar <span></span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="#" method="get">
            <div class="form__field">
              <label for="formInput#search">Proyekt bo'yicha qidirish </label>
              <input class="input input--text" id="formInput#search" type="text" name="search_query"
                placeholder="Izlash" value="{{search_query}}" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Izlash" />
          </form>
        </div>
      </div>
    </section>

    <!-- Search Result: DevList -->

    <section class="projectsList">

      <div class="container">
        <div class="grid grid--three">

          {% for item in pl %}
          <div class="column">
       
              
            <div class="card project">
              <a href="{% url 'project' item.id %}" class="project">
                <img class="project__thumbnail" src="{% if item.featured_image %}{{item.featured_image.url}}{%else%}{% static 'images/default.jpg' %}{%endif%}" alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title">{{item.title}}</h3>
                  <p><a class="project__author" href="{% url 'user_profile' item.owner.id %}">{{item.owner.name}} dan</a></p>
                  <p class="project--rating">
                    <span style="font-weight: bold;">{{item.vote_ratio}}%</span> Ijobiy
                    Izohlar {% if item.vote_total == 1 %}
                      (1 Izoh)
                      {% elif item.vote_total == 0 %}
                      (Izohlar yo'q)
                      {% else %}
                      ({{item.vote_total}} Izohlar)
                      {%endif%}

                  </p>
                  <div class="project__tags">
                         {% for tag in item.tags.all %}
                    <span class="tag tag--pill tag--main">

                      <small>{{tag}}</small>

                    </span>
                        {%endfor%}

                  </div>
                </div>
              </a>
            </div>
              
          </div>

          {%endfor %}

        </div>
      </div>

    </section>
    {% include 'pagination.html' with queryset=pl custom_range=custom_range%}
  </main>


{% endblock content%}
