{% extends 'main.html' %}
{% block content%}

<main class="inbox my-xl">
<!--    <div class="content-box">-->
<!--      <h3 class="inbox__title">Job Status</h3>-->
<!--      <ul class="messages">-->

<!--        <li class="message message&#45;&#45;unread" >-->
<!--            {% if job.is_assigned %}-->
<!--            <span class="message__author">The job is assigned to {{job.assigned.name}}</span> on-->
<!--            <span class="message__subject"><a href="">{{job.assigned_date}} </a></span> &nbsp;-->
<!--            {% else %}-->
<!--            <span class="message__author">The job has not been assigned yet.</span>-->
<!--            {%endif%}-->
<!--        </li>-->


<!--      </ul>-->
<!--    </div>-->
<br>
<div class="content-box">
  <h3 class="inbox__title"> Shartnoma Tafsilotlari: </h3>
  <ul class="messages">
    <h1>Shartnoma Ma'lumotlari</h1>
    <p>Vazifa ID: {{ contract.job.id }}</p>
    <p>Vazifa Nomi: {{ contract.job.title }}</p>
    <p>Vazifa Tavsifi: {{ contract.job.description }}</p>
  
    <!-- Kerak bo'lsa, qo'shimcha maydonlarni qo'shing -->
  
    <h4>Taraf-lar:</h4>
    <h5>Mijoz:</h5>
    <ul>
      <li>Foydalanuvchi nomi: {{ contract.client.username }}</li>
      <li>To'liq Ismi: {{ contract.client.full_name }}</li>
    </ul>
  
    <h5>Frilanser:</h5>
    <ul>
      <li>Foydalanuvchi nomi: {{ contract.freelancer.username }}</li>
      <li>To'liq Ismi: {{ contract.freelancer.full_name }}</li>
    </ul>
  
    <h4>Shartnoma Shartlari:</h4>
    <p>Vazifa uchun kelgan narx {{ contract.job.budget }}.</p>
    <p>Vazifani bajarish muddati {{ contract.job.duration }}.</p>
  
    <!-- Kerak bo'lsa, qo'shimcha maydonlarni qo'shing -->
  
    <h4>Shartnoma Shartlari:</h4>
    <p>Ishning miqyosi: {{ contract.job.description }}</p>
    <p>To'lov va Hisob-kitob: {{ contract.payment_details }}</p>
  
    <!-- Kerak bo'lsa, qo'shimcha maydonlarni qo'shing -->
  
    <h4>Taqiqlangan Kontent:</h4>
    <p>Ikkala taraf taqiqlangan kontentni vazifaga qo'shish yoki uning reklamasi bo'lganini yoki quyidagi narsalarni shug'ullanishni qat'iy man etishadi...</p>
  
    <!-- Kerak bo'lsa, qo'shimcha bo'limlarni qo'shing -->
  
    <h4>Hukumat Qonuni:</h4>
    <p>Ushbu Shartnoma O'zbekiston Respublikasining {{ contract.governing_law }} qonunlariga muvofiq qayd etilgan va shariyat etilgan.</p>
  
    <!-- Kerak bo'lsa, qo'shimcha bo'limlarni qo'shing -->
  
    <h4>Aloqa Ma'lumotlari:</h4>
    <p>Ushbu Shartnomaga oid savollaringiz yoki tashvishingiz bo'lsa,  {{ contract.contact_email }} ga murojaat qiling.</p>
  
    <h4>Shartnoma:</h4>
    <p>Ushbu vazifani qabul qilish va shartnoma qilish orqali, ikkala tomonda ushbu Vazifa Shartnomasida belgilangan shartlarni o'qiganligini, tushunishini va unga rioya etishini tasdiqlashadi...</p>
  
    <h4>Frilans Bazar</h4>
    <p>[Manzil]</p>
    <p>[Sana]</p>
  
    <h4>Imzolar:</h4>
    <p>Mijozning Imzosi: __________________________</p>
    <p>Frilanserning Imzosi: _______________________</p>
  </ul>
</div>

      <form method="POST"> 
        {% csrf_token %}
      
    
      <div class="singleProject__info" >
        <p style="color: red;">By clicking the button below, you agree and sign the task completion contract.</p>
    
      <br />
    
    </div>
    
    {% if request.user.profile.id == contract.freelancer.id %}
    <input type="hidden" name="combined_vars" value="{{contract.id}}_{{contract.freelancer.id }}">
    <input class="btn btn--sub btn--lg  my-md"  type="submit" value="Agree and Sign" />
    {% else %}
    <p> You are not authorised to sign the contract <p>
    {% endif %}
      </form>


    </div>
  
  </main>



  

{% endblock content%}